  /* Default CSS styling for mobile 320px */
  @media (min-width: 320px){
    
    /* Main content styling */

    main {
        width: 100vw;

        .comments { // Comments section
            @include column;
            align-items: center;
            margin-left: 5%;
            margin-right: 5%;

                h1 {
                    padding-top: 32px;
                    padding-bottom : 40px;
                }

                &__form {
                    @include row;
                    &--icon {

                        margin-right: 5%;

                        img {
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                            margin-top: 25px;
                        }    
                    }

                    #myForm{

                        .formName{ 
                            display: flex;
                            flex-direction: column;
                        }
    
                        .formComment{
                            display: flex;
                            flex-direction: column;
    
                        }
    
                        }
                }

                form {
                    @include column;
                    width: 224px;

                    input {
                        border: 2px $black-color solid;
                        height: 50px;
                        margin-bottom: 25px;
                        background-color: $lightgrey;
                        border-radius: 4px;
                    }

                    textarea {
                        border: 2px $mercury-color solid;
                        margin-bottom: 24px;
                        background-color: $lightgrey;
                        border-radius: 6px;
                    }

                    button {
                        background-color: $black-color;
                        color: white;
                        height: 48px;
                        width: 224px;
                        align-self: flex-end;
                        margin-bottom: 32px;
                        border-radius: 4px;
                        font-family: "Avenir Next";
                        text-transform: uppercase;
                        font-weight: $font-demibold;

                        &:hover {
                            background-color: black;

                        }
                    }
            }
            
            .comments-table {

                .comments__published {
                @include row;
                padding-top: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid $mercury-color;
                width: 100%;

                .comments__img {
                    @include column;
                    width: 20%;
                }

                // .comments__body {
                //     @include row;
                //     align-items: center;
                //     flex-wrap: wrap;
                //     width: 80%;


                    .username, .date {
                        flex:1 1 50%; 
                    }
                    .date {
                        text-align: right;
                        color: $mercury-color;
                    }
                    .username {
                        font-weight: $font-bold;
                    }

                    .input {
                        margin-top: 5%;
                        flex:1 1 100%;
                    }

                }

                }
            }

                &--icon {
                    display: flex;
                    flex-direction: column;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: $lightgrey;


                }
            }

    }


  /* styling for tablet from 768px */
  @media (min-width: 768px) { 
    
    /* Main content styling */
 
    main {

        .comments { // Comments section
            @include column;
            align-items: center;
            margin-left: 16px;
            margin-right: 16px;

                h1 {
                    padding-top: 32px;
                    padding-bottom : 40px;
                }

                &__form {
                    @include row;
                    &--icon {
                        margin-right: 16px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }    
                    }
                }

                form {
                    @include column;
                    width: 224px;

                    input {
                        border: 1px black solid;
                        height: 50px;
                        margin-bottom: 25px;
                    }

                    button {
                        background-color: black;
                        color: white;
                        height: 35px;
                        width: 224px;
                        align-self: flex-end;
                        margin-bottom: 32px;

                    }

            }
            .comments__published {
                padding-top: 24px;
                padding-bottom: 24px;
            }

            .comments-username {
                font-weight: $font-bold;
            }
        }
    }
}

  /* styling for desktop from 1440px */
  @media (min-width: 1440px){
    .comments { // Comments section
        margin-left: 180px;
        margin-right: 180px;

            &__form {

                &--icon {

                    img {
                        width: 48px;
                        height: 48px;
                        margin-top: 25px;
                    }    
                }
            }

            #myForm{
                width: 460px;
            }

    } 
}