@font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/Linotype _AvenirNextLTPro_Regular.otf");
    src: url("../Fonts/Linotype_AvenirNextLTPro.ttf");
    src: url("../Fonts/Linotype_AvenirNextLTPro_Demi.otf");
    src: url("../Fonts/Linotype_AvenirNextLTPro_Demi.ttf");
    src: url("../Fonts/Linotype_AvenirNextLTPro_Bold.otf");
    src: url("../Fonts/Linotype_ AvenirNextLTPro_Bold.ttf");
  }

/* Variables */
$font-bold : 700;
$font-demibold: 500;
$font-family: 'Avenir Next', sans-serif;
$font-family-mobile-xs: 12px;


// Resetting agent values and assigning font-family
h1, h2, h3, h4, p {
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

/* Desktop & Tablet rules */
@media (min-width: 768px){

.hero-header {
    font-size: 60px;
    line-height: 68px;
    font-weight: $font-bold;
}

h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: $font-bold;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: $font-bold;

}

h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: $font-demibold;
}

h4, p {
    font-size: 14px;
    line-height: 22px;
}

ul, ol {
    font-size: 14px;
    line-height: 20px;
}

h5 {
    font-size: 12px;
    line-height: 20px;
}
}

/* Mobile rules */
@media (min-width:320px) and (max-width: 767px){

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: $font-bold;
}

h2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: $font-demibold;

}

h4, p, ul, ol {
    font-size: 13px;
    line-height: 18px;
}

h5 {
    font-size: 12px;
    line-height: 20px;
}
}