@import 'colors';
@import 'fonts';
@import 'mixens';

/* Resetting  user agent styling */
html, body, ul {
    margin: 0;
    padding: 0;
  }

html, body {
    color: #323232;
    font-family: 'Avenir Next';
  }

  /* Default CSS styling for mobile 320px */
    @media (min-width: 320px){
    
    /* Navigation styling */
    .menu {
        width:100%;
        height: 80px;
        @include row;
        background-color: $black-color;

        &__logo {
            padding-left: 16px;
        }

        ul {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            list-style-type: none;
            align-items: center;
            
            li {
                flex:1 1 50%;
                color: white;
                padding-bottom: 6px;
                text-align: center;
            
                &:first-child { // logo
                    flex:1 1 100%;
                    padding-bottom: 16px;
                    padding-top: 10px;
                }

                &.selected { // active tab
                    display: inline-block;
                    position: relative;
                }

                &.selected:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    border-bottom: 4px solid white;
                    margin-top: 19px;
                }

                &:hover { //hover interaction
                    color: yellow;
                    font-weight: bold;
                }
            }
        }
    }

    /* Main content styling */

    main {
        width: 100%;
    
        .main__hero--show { // Hero section
            height: 472px;
            background-image: url("../../4.0 - Assets/Images/israel-palacio-459693-unsplash.jpg"); 
            background-size: cover;
            background-repeat: no-repeat;
            @include column;
            justify-content: flex-start;
            margin-bottom: 32px;

            &--layer { // image opacity
                background-color: #323232;
                opacity: 0.5;
            }
    
            h1, h3 {
                color: $primary-color;
                margin-left: 16px;
                margin-bottom: 16px;
            }
        }

        .titles {
            margin-top: 64px;
            @include column;
        }

        .music {
            margin-top: 64px;
            margin-left: 16px;
            margin-right: 16px;

            iframe {
                height: 150px;
            }
        }

        .shows {
            @include column;
            margin-left: 16px;
            margin-right: 16px;

            h1 {
                margin-bottom: 40px;
            }

            .shows-table {
                width: 100%; 
                border-collapse: collapse; 
                
                table, thead, tbody, th, td, tr { 
                    display: block; 
                    padding: 0;
                    margin: 0;
                }

                .table-hidden {
                    display:none;
                }

                .date {
                    font-weight: $font-bold;

                }

            .event {
                border-bottom: 1px solid $silver-color;
                margin-top: 32px;
                
                h5 {
                    color: $silver-color;
                    text-transform: uppercase;
                }

                p {
                    margin-top: 16px;
                    margin-bottom: 24px;
                }

                .date, .venue, .location {
                    margin-top:24px;
                }

                button {
                    background-color: $black-color;
                    color: $primary-color;
                    width: 100%;
                    height: 40px;
                    text-align: center;
                    vertical-align: center;
                    margin-bottom:16px;
                    margin-top: 32px;
                    text-transform: uppercase;
                    font-weight: $font-demibold;
                    border-radius: 8px;
                }
            }
        }

        .comments { // Comments section
            @include column;
            align-items: center;
            margin-left: 16px;
            margin-right: 16px;

                h1 {
                    padding-top: 32px;
                    padding-bottom : 40px;
                }

                &__form {
                    @include row;
                    &--icon {
                        margin-right: 16px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }    
                    }
                }

                form {
                    @include column;
                    width: 224px;

                    input {
                        border: 1px black solid;
                        height: 50px;
                        margin-bottom: 25px;
                    }

                    button {
                        background-color: black;
                        color: white;
                        height: 35px;
                        width: 224px;
                        align-self: flex-end;
                        margin-bottom: 32px;

                    }
            }

            .comments__published {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }
    }
}
    /* Footer styling */

    footer {
        background-color: $black-color;
        @include row;
        justify-content: center;

        .footer {

        &__contact {       
            width: 100%;
            box-sizing: border-box;
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 40px;
            @include column;
            align-content: flex-start;
            color: $primary-color;

            &--title { // title + icons    
                @include column;

                h1 {
                    padding-bottom: 1em;
                }

                .footer__contact--img { // icons + logo
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 40px;
                   
                    .footer__contact--icons { // icons
                        display: flex;
                        justify-content: space-between;
                        width: 40%;
                    }
                    .footer__logo { // logo
                        display: none;
                    }
                }
            }
        }

        &__columns { // agency details
            @include column;
            
            &--agency, &--address, &--email {
                padding-bottom: 10px;
            }

            &--agency { // agency name
                font-weight: $font-demibold;
            }
        }
        
        &__copyright { //copyright mention
            font-weight: 100;
            margin-top: 40px;
            margin-bottom: 40px;

        }
    }
    }
}

  /* styling for tablet from 768px */
    @media (min-width: 768px) {

    /* Navigation styling */

    .menu {                
        justify-content: space-between;

        ul {
            flex-flow: row nowrap;
            width: 60%;
            height: 100%;

            li {
                margin-right: 48px;

                &:first-child {
                    margin-left: 24px;
                    padding: 0;
                }

                &.selected:after {
                    margin-top: 50px;        
                }
            }
        }
    }    
    
    /* Main content styling */
 
    main {
        width: 100%;
    
        .main__hero--show { // Hero section
            height: 670px;
            background-image: url("../../4.0 - Assets/Images/israel-palacio-459693-unsplash.jpg"); 
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 32px;

            &--layer { // image opacity
                background-color: #323232;
                opacity: 0.5;
            }
    
            h1, h3 {
                color: $primary-color;
                margin-left: 24px;
                margin-bottom: 24px;
            }
        }
        
        .titles {
            margin-top: 96px;
            margin-top: 94px;
            @include column;
        }

        iframe {
            margin-top: 64px;
            margin-left: 24px;
            width: 50%;
            height: 20%;
        }

        .shows {
            margin-left: 24px;
            margin-right: 24px;
            margin-bottom: 32px;

            h1 {
                width: 30%;
                margin-bottom: 40px;
            }

            .shows-table {
                width: 100%; 
                border-collapse: separate; 
                
                table, thead, tbody, th, td, tr { 
                    display: inline-block; 
                }

                .table-hidden {
                    display: unset;
                }

                .hidden {
                    display: none;
                }

                .date {
                    font-weight: $font-bold;
                }

                .date, .venue, .location {
                    width: 182px;
                    // margin-right: 10px;
                }
                h5, .theader {
                    color: $silver-color;
                    text-transform: uppercase;
                }
                .theader {
                    display: block;
                }


            .event {
                border-bottom: 1px solid $silver-color;
                margin-top: 0px;
                vertical-align: baseline;

                p {
                    margin-top: 16px;
                    margin-bottom: 24px;
                }

                .date, .venue, .location {
                    margin-top:24px;
                }

                button {
                    background-color: $black-color;
                    color: $primary-color;
                    width: 160px;
                    height: 50px;
                    text-align: center;
                    vertical-align: center;
                    margin-bottom:16px;
                    margin-top: 32px;
                    text-transform: uppercase;
                    font-weight: $font-demibold;
                }
            }
        }

        .comments { // Comments section
            @include column;
            align-items: center;
            margin-left: 16px;
            margin-right: 16px;

                h1 {
                    padding-top: 32px;
                    padding-bottom : 40px;
                }

                &__form {
                    @include row;
                    &--icon {
                        margin-right: 16px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }    
                    }
                }

                form {
                    @include column;
                    width: 224px;

                    input {
                        border: 1px black solid;
                        height: 50px;
                        margin-bottom: 25px;
                    }

                    button {
                        background-color: black;
                        color: white;
                        height: 35px;
                        width: 224px;
                        align-self: flex-end;
                        margin-bottom: 32px;

                    }
            }

            .comments__published {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }
    }
}
/* Footer styling */
        footer {
    
            .footer {
                width: 100%;
    
            &__contact {            
                width: 720px;
                margin-left: 24px;
                margin-right: 24px;
    
                &--title { // title + icons
                    @include row;
                    justify-content: space-between;
    
                    h1 {
                        padding-bottom: 40px;
                    }
    
                    .footer__contact--img {
                        width: 66%;
                        align-items: center;

                        .footer__contact--icons { // icons + logo
                            justify-content: space-evenly;
                            width: 35%;
                        }
                        .footer__logo { // logo
                            display: unset;
                            justify-self: flex-start;
                        }
                    }
                }
            }
    
            &__columns { //agency details
                @include row;
                justify-content: space-between;            
            }
        }        
    }
}

  /* styling for desktop from 1440px */
    @media (min-width: 1440px){
    
    .menu {    
        ul {
            width: 40%;
            justify-content: space-between;

            li:first-child {
                margin-left: 180px;
            }
    
            li:nth-child(2), li:last-child {
                margin-right: 56px;
            }
        }
    }

    main {
        .main__hero {
            height: 670px;
                h1 {
                margin-left: 180px;
            }
        }
        
            .main__hero--show { 
                @include row;

                .titles {
                    margin-top: 160px;
                    margin-left: 180px;

                    h3 {
                        margin-bottom: 48px; 
                    }
                }
                .music {
                    margin-left: 64px;
                    align-self: center;
                    margin-right: 180px;


        
                    iframe {
                        width: 436px;
                        height: 146px;
                    }
                }
        
            }

            .shows {
                @include row;
                margin-left: 180px;
            }
            
        }
    
    footer {

        .footer {
            width: 100%;
    
            &__contact {            
                width: 1080px;
                margin-left: 180px;
                margin-right: 180px;

                &--title {
                    align-items: center;
        
                    .footer__contact--img {
                        padding-bottom: 40px;
    
                        .footer__contact--icons {
                            width: 23%;
                        }
                    }
                }
            }
        }
    }
}